
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.wrapper{
    overflow-x:hidden;
    height:100vh;
    overflow-y: auto;
}
.main-container{
    margin: 0 auto;
    padding:1em;
    height:100%;
    max-width:1200px;
}
.main-container h1{
    text-align:center;
    font-size:3em;
    text-transform: capitalize;
    margin-bottom:15px;
}
#gallary{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.img-card{
    margin-bottom: 20px;
    height:350px;
    width:32%;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}
.img-card:hover{
    filter:drop-shadow(0 0 10px black);
    transform: scale(1.03);
    transition: 2s;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
}
.img-card .image{ 
    filter: grayscale(1);
    object-fit: cover;
    height:100%; 
    width:100%;
}
.img-card:hover .image{
    filter: grayscale(0);
}
.img-card .img-desc{
    position: absolute;
    bottom:20px;
    left:20px;
    color:white;
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 1.2em;
    border-radius: 0 0 10px 10px;
    opacity:0;
    transition: 0.3s;
    /* background:linear-gradient(0deg, black 50%, grey 50%); */
}
.img-card:hover .img-desc{
   opacity: 1;
   transform: scale(1.03);
}
